EUFYLOCAL_DEBUG=false
EUFYLOCAL_HOST=127.0.0.1
EUFYLOCAL_PORT=8000
EUFYLOCAL_DB_HOST=127.0.0.1
EUFYLOCAL_DB_PORT=5432
EUFYLOCAL_DB_NAME=eufylocal
EUFYLOCAL_DB_USER=eufylocal
EUFYLOCAL_DB_PASSWORD=eufylocal
